streamlit==1.37.1
faster-whisper==1.0.2
groq==0.6.0
openai>=1.32.0
google-generativeai==0.5.4
opencv_python==4.9.0.80
Pillow==10.3.0
PyAudio==0.2.14
SpeechRecognition==3.10.1
pyperclip==1.8.2
pydub
langchain-openai
langchain
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
duckdb
pandas
langchain-google-genai
mysql-connector-python
gtts
unstructured
pytube
numexpr
jq
pdf2image
PyPDF2
tiktoken
langchain-community
pysqlite3-binary==0.5.3
audio_recorder_streamlit
pytz
